@charset "UTF-8";

*{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display:block;} /* HTML5 for older browsers */
body{line-height:1;font-size:14px;font-family:'helvetica', 'SDGothic', AppleGothic, Arial, sans-serif;}
.win body {line-height:1.2;}
ol, ul{list-style:none;}
blockquote, q{quotes:none;}
blockquote:before, blockquote:after, q:before, q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
img{max-width:100%;vertical-align:top;}
a{color:inherit; text-decoration:none;}
::-moz-selection {background-color:#000000;color:#e5e5e5}
::selection {background-color:#000000;color:#e5e5e5}
::-moz-selection {background-color:#000000;color:#e5e5e5}

.nav-bar {
    position: fixed;
    top: 0;
    left: 130px;
    width: 373px;
    background-color: black;
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 10px 0;
    font-size: 16px;
    z-index: 10;
    border-radius: 0 0 10px 10px;
}

.nav-bar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-bar a.active {
    color: #4be5ff; /* 하이라이트된 색 */
}

.nav-bar a:hover {
    color: #4be5ff;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 플로팅 네비게이션 */
.floating-menu {
    position: fixed;
    right: 0px;
    top: 20%;
    transform: translateY(-50%);
    background-color: black;
    background-size: contain;
    width: 80px; /* 이미지 크기에 맞게 조정 */
    height: 169px; /* 이미지 크기에 맞게 조정 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    border-radius: 10px 0 0 10px;
}

/* 버튼 스타일 */
.floating-menu a {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: white;
    margin: 5px 0;
    transition: color 0.3s ease;
}

/* 활성화된 버튼 */
.floating-menu a.active {
    color: #4be5ff;
}

/* 호버 효과 */
.floating-menu a:hover {
    color: #4be5ff;
}

div {position: relative;}